# DISABLE CACHING
<IfModule mod_headers.c>
  Header setifempty Cache-Control "no-cache, no-store, must-revalidate"
</IfModule>

<Files .htaccess>
    Require all denied
</Files>

# Disable directory browsing 
Options -Indexes

RedirectMatch 404 "^_"
RedirectMatch 404 "/_"

RewriteEngine on

#hide .php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)\?(.*)$ $1.php?$2 [R=301]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)\/$ $1/index.php [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC]
